{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="jumbotron">
	<h1>Jumbotron heading</h1>
	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>

<form class="form" method="POST" action="/">
	{{ form.hidden_tag() }}
	{{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.query) }}
    <div>
	    {% for subfield in form.query_type %}
		<tr>
			    <td>{{ subfield }}</td>
			    <td>{{ subfield.label }}</td>
		</tr>
		{% endfor %}
	</div>
	{{ wtf.form_field(form.submit) }}
</form>
{% endblock %}