{% extends "base.html" %}


{% block content %}

	<div class="container text-center">
		<ul class = " pagination">
			<li><a href = "{{ url_for('book_list', page=1, query=query) }}">First</a></li>
			{% if current_page > 1 %}
		   		<li><a href = "current_page-1">&laquo;</a></li>
		   	{% endif %}
		   	{% for num_page in pages %}
		   		<li><a href = "{{ url_for('book_list', page=num_page, query=query) }}">{{ num_page }}</a></li>
		   	{% endfor %}
		   	{% if current_page < max_page %}
		   		<li><a href = "{{ url_for('book_list', page=current_page+1, query=query) }}">&raquo;</a></li>
		   	{% endif %}
		   	<li><a href = "{{ url_for('book_list', page=max_page, query=query) }}">Last</a></li>
		</ul>
	</div>

	<div class="list-group">
		{% for book in books %}
		<a href="{{ url_for('book', isbn=book.isbn10) }}" class="list-group-item">
			<div class="row">
				<div class="col-md-9">
					<h4 class="list-group-item-heading"> {{ book.title }} </h4>
		    		<p class="list-group-item-text"><strong>ISBN</strong> {{ book.isbn10 }} </p>
		    		<p class="list-group-item-text"><strong>Author</strong> {{ book.author }} </p>
		    		<p class="list-group-item-text"><strong>Publisher</strong> {{ book.publisher }} </p>
				</div>
				<div class="col-md-3">
					<img src="{{ book.cover_url }}" class="img-responsive center-block" alt="Book cover">
				</div>
			</div>
		</a>
		{% endfor %}
	
	</div>
	<div class="container text-center">
		<ul class = " pagination">
			<li><a href = "{{ url_for('book_list', page=1, query=query) }}">First</a></li>
			{% if current_page > 1 %}
		   		<li><a href = "current_page-1">&laquo;</a></li>
		   	{% endif %}
		   	{% for num_page in pages %}
		   		<li><a href = "{{ url_for('book_list', page=num_page, query=query) }}">{{ num_page }}</a></li>
		   	{% endfor %}
		   	{% if current_page < max_page %}
		   		<li><a href = "{{ url_for('book_list', page=current_page+1, query=query) }}">&raquo;</a></li>
		   	{% endif %}
		   	<li><a href = "{{ url_for('book_list', page=max_page, query=query) }}">Last</a></li>
		</ul>
	</div>
{% endblock %}